<h2>Sign Up</h2>

<div class="form">
<% if @errors %>
  <%= render partial: 'layouts/errors' %>
<% end %>

  <%= form_for @user do |f| %>
    <p>
      <%= f.text_field :first_name, placeholder: "First Name" %>
    </p>
    <p>
      <%= f.text_field :last_name, placeholder: "Last Name" %>
    </p>
    <p>
      <%= f.email_field :email, placeholder: "Email Address" %>
    </p>
    <p>
      <%= f.password_field :password, placeholder: "Password" %>
    </p>
    <p>
      <%= f.submit "Register" %>
    </p>
  <% end %>
</div>