<h2><%= @concert.band %></h2>

<ul class="concert-details">
  <li>
    Location: <%= @concert.venue %>
  </li>
  <li>
    Date: <%= @concert.formatted_date %>
  </li>
  <li>
    Time: <%= @concert.start_time %>
  </li>
</ul>

<% if @concert.attendees.length > 0 %>
  <h3>Attendees</h3>

  <ul class="concert-details" id="attendee-list">
    <% for attendee in @concert.attendees %>
      <%= render partial: 'attendees/attendee', locals: {attendee: attendee} %> 
      <!-- why isn't collection partial working here? -->
    <% end %>
  </ul>
<% end %>

<% if @errors %>
  <%= render partial: 'layouts/errors', locals: {errors: @errors} %>
<% end %>

<% if logged_in? %>
  <%= render partial: 'attendances/form', locals: {concert: @concert } %>
<% end %>
