<!DOCTYPE html>
<html>
  <head>
    <title>Phase3Assessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1>Concerts, Concerts, Concerts</h1>
    </header>
    <nav>
      <ul id="navbar">
      <% if logged_in? %>
        <li class="nav-link">
          <%= link_to "Log Out", '/logout' %>
        </li>
      <% else %>
        <li class="nav-link">
          <%= link_to "Log In", '/login' %>
        </li>
        <li class="nav-link">
          <%= link_to "Sign Up", new_user_path %>
        </li>
      <% end %>
        <li class="nav-link">
          <%= link_to "Home", '/' %>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
