<!DOCTYPE html>
<html>
  <head>
    <title>Phase3Assessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1>Concerts, Concerts, Concerts</h1>
    </header>
    <nav>
      <ul id="navbar">
        <li class="nav-link">
          Log In
        </li>
        <li class="nav-link">
          Sign Up
        </li>
        <li class="nav-link">
          <%= link_to "Home", '/' %>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
